body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #94DAFF;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #84DFFF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #69DADB;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  clear: left;
}

p {
    line-height: 2;
}

a {
  color: #11999E;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.footer-link {


}

.intro {
  padding-bottom: 1.5em;
  width: 40%;
  margin: auto;
}

.profile-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.top-container {
  background-color: #E4FBFF;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;

}

.middle-container {
margin: 100px 0;
}

.skill-row {
  width: 35%;
  margin: 50px auto;
  text-align: left;
}

.html-skill {
  width: 10%;
  float: left;
  padding: 30px;
}

.css-skill {
  width: 10%;
  float: right;
  padding: 30px;
}

.javascript-skill {
  width: 10%;
  float: left;
  padding: 30px;
}

.python-skill {
  width: 10%;
  float: right;
  padding: 30px;
}

.sql-skill {
  width: 20%;
  float: left;
  padding: 30px;
}

.bottom-container {
  background-color: #84DFFF;
  padding-top: 2.5em;
  margin-top: 50px;
}

.contact-me {
  padding-top: 20px;
}

.contact-message {
  padding-bottom: 2.5em;
  margin: auto;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 2em;
}

.btn {
  background: #69DADB;
  background-image: -webkit-linear-gradient(top, #69DADB, #68b5d9);
  background-image: -moz-linear-gradient(top, #69DADB, #68b5d9);
  background-image: -ms-linear-gradient(top, #69DADB, #68b5d9);
  background-image: -o-linear-gradient(top, #69DADB, #68b5d9);
  background-image: linear-gradient(to bottom, #69DADB, #68b5d9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
